.chooseField {
  max-width: 760px;
  padding: 24px 16px;
  margin: 0 auto; 
  height: 100%;
}

.chooseFieldWarn {
  color: #2e2e2e;
}

.chooseFieldLoading {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chooseFieldError {
  padding: 24px 16px;
  color: var(--textDangerDefault);
}

.fieldList {
  border: 1px solid var(--lineColor);
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
  max-height: calc(100% - 160px);
  overflow: auto;
}

.fieldListItem {
  display: flex;
  padding: 8px 16px;
  border-bottom: 1px solid var(--lineColor);
  align-items: center;
}

.fieldListItemDelete {
  margin-left: 16px;
}


.fieldListItem > div {
  flex: 1;
}

.fieldListItem > div:last-child {
  flex: none;
}

.funcAlert {
  position: fixed;
  z-index: 10;
  right: 24px;
  top: 16px;
}

.chooseFieldAction {
  display: flex;
  justify-content: space-between;
}